@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:300');
 
      body, html {
        background-color: #212121;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 1.1;
        color: #FFFFFF;
      }


      #view .paginate_button {
        background: white;
      }

      #view .dataTables_paginate {
        color: white; !important
      }

      #view .dataTables_wrapper {
        color: white; !important
      }

      #view .dataTables_filter {
       color: white; !important
      }

      #sidebar {
        background-color: #F5F5F5;
        color: #000000;
      }
